select {
    font-size: 1em;
}

footer {
    border-top: 22px;
}

#srchCntnt {
    background-color: #fff;
}

#srchCntr {
    padding-top: .5em;
}

#searchContent-right {
    margin-left: 211px;
    background: #FFF url(/static/images/backgrounds/search/srpdropshadowv1.jpg) 20px 0 repeat-y;
}

.srItem {
    float: left;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 0.5em 0.25em 0em 0.25em;
    width: 158px;
    height:174px;
    overflow: hidden;
    font-size: .85em;
    border: solid 1px #eaeaea;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
}

.srItem.editorial,.srItem.editorial a {
    color: #ec4100;
}

.srItem.lastRow,.lsrRow.lastRow {
    border-bottom: 1px solid #FFF;
}

.srItem.nextButton {
    padding-top: 5px;
}

.nextResultSet {
    background-image: url(/static/images/buttons/next.gif);
    background-position: 0 0;
    width: 112px;
    height: 92px;
    cursor: pointer;
}

.nextResultSet:hover {
    background-image: url(/static/images/buttons/next.gif);
    background-position: 0 92px;
}

.srItem .srFile {
    height: 156px;
    display: table-cell;
    vertical-align: bottom;
    width: 172 !important;
    display: none;
}

.srMeta {
    line-height: 1.4em;
    display: none;
}

.srThumbnail {
    vertical-align: bottom;
    border: 1px solid #e3e3e3;
    display: none;
}

.srIcons {
    margin-top: 3px;
}

.srIcons img {
    margin-right: .5em;
}

.gettyLinks {
    padding: 5px;
}

.gettyLinksLoggedOut {
    padding-bottom: 25px;
}

#emailOptIn {
    padding: 5px;
    padding-bottom: 25px;
}

#listSearchResults {
    min-width: _ 750px;
    margin-left: .5em;
}

.lsrHeader {
    font-weight: 700;
    padding: 10px 0 5px;
}

.lsrHeader div,.lsrRow div {
    float: left;
}

.lsrRow div.cl {
    float: none;
}

.colPlay,.colLightbox,.coladdToCart {
    min-width: 25px;
    width: 2%;
    text-align: center;
}

.colTitle {
    width: 40%;
    padding-right: 5px;
}

.colContributor {
    width: 15%;
    padding-left: 2px;
}

.colTempo,.colKey,.colDownloads,.colDuration {
    width: 14%;
    padding-left: 2px;
}

.lsrRow {
    clear: both;
    border-bottom: 1px dotted #a3a4a7;
    line-height: 22px;
    padding: 5px 0;
    vertical-align: middle;
}

.playAudio,.pauseAudio {
    cursor: pointer;
    background: url(/static/images/buttons/audio_play.png);
    width: 22px;
    height: 22px;
}

.playAudio:hover {
    background: url(/static/images/buttons/audio_play_over.png);
}

.pauseAudio {
    background: url(/static/images/buttons/audio_pause.png);
}

.pauseAudio:hover {
    background: url(/static/images/buttons/audio_pause_over.png);
}

.colTitle .audio,.colTitle .pump {
    vertical-align: baseline;
    margin-right: 5px;
}

.colTitle .fileTypeIcon {
    text-decoration: none;
}

.lsrRow .lsrDetails {
    float: none;
    border: 1px solid #e6e6e6;
    margin: 5px 0 -6px;
    vertical-align: middle;
}

.lsrRow .lsrDetailsTable {
    float: none;
    background: #f6f6f6;
    border: 5px solid #FFF;
}

.lsrRow .colFlash {
    width: 330px;
    padding-top: 8px;
}

.lsrRow .colDetails {
    float: none;
    margin: 0 55px 0 340px;
    padding: 5px 0;
}

.lsrRow .colDetails div {
    float: none;
    line-height: 1.2em;
}

.lsrRow .colDetails .rating {
    padding-top: .5em;
}

.lsrRow .colFileCloseUp {
    float: right;
    width: 50px;
}

.lsrDetails .loupeCamera0 {
    width: 16px;
    height: 13px;
    background-image: url(/static/images/icons/camera0.gif);
}

.lsrDetails .loupeCamera5 {
    width: 16px;
    height: 13px;
    background-image: url(/static/images/icons/camera5.gif);
}

.lsrDetails .loupeCamera10 {
    width: 16px;
    height: 13px;
    background-image: url(/static/images/icons/camera10.gif);
}

.fileDetails {
    height: 25px;
    width: 25px;
    background: transparent url(/static/images/buttons/details.png) no-repeat top left;
    cursor: pointer;
    margin: 12px 10px 0 0;
    float: right;
}

#zeroResult {
    margin-left: 25px;
    margin-top: 25px;
}

#zeroResult ul {
    list-style-position: outside;
}

#zeroResult .suggestions span {
    display: block;
    margin-top: 12px;
}

#zeroResult #categoriesLeft {
    float: left;
}

#zeroResult #categoriesRight {
    float: left;
    margin-left: 55px;
}

#zeroResult .heading {
    color: #d42727;
    font-size: 1.25em;
    margin-bottom: 20px;
}

#zeroResult .categoryLinks .title {
    font-size: 1.18em;
    font-weight: 700;
}

#zeroResult .categoryLinks {
    margin-top: 12px;
}

#zeroResult .categoryLinks ul,#zeroResult .categoryLinks li,#zeroResult .categoryLink {
    margin-left: 0;
    list-style-type: none;
}

#zeroResult .categoryLinks .categoryLink:hover {
    text-decoration: underline;
}

#zeroResult .categoryLinks .categoryLink:hover {
    text-decoration: underline;
}

.loupe {
    padding: 10px;
    background-color: #2A3333;
    color: #f6f6f6;
    border: 1px solid #212626;
    -moz-box-shadow: 3px 3px 4px #222;
    -webkit-box-shadow: 3px 3px 4px #222;
    box-shadow: 3px 3px 4px #222;
}

.loupeExclusive {
    float: right;
}

.loupeReviews {
    margin-left: .25em;
}

.ratingIcon {
    width: 14px;
    height: 14px;
    background: transparent top left no-repeat;
    vertical-align: text-bottom;
    margin-right: .25em;
}

.loupeEditorial {
    color: #ec4100;
    background: #FFF;
    margin-top: -3px;
    padding-left: 6px;
    line-height: 18px;
    height: 18px;
    vertical-align: -1px;
}

.loupeEditorial img {
    margin-right: 4px;
}

.loupeEditorial img,.loupeEditorial span {
    vertical-align: -1px;
}

.loupeCamera0 {
    background-image: url(/static/images/icons/loupeCamera0.png);
}

.loupeCamera5 {
    background-image: url(/static/images/icons/loupeCamera5.png);
}

.loupeCamera10 {
    background-image: url(/static/images/icons/loupeCamera10.png);
}

.paginator {
    height: 35px;
    padding: .45em .5em;
    background: #FFF;
    border-bottom: 1px dotted #a3a4a7;
}

#pgntrFtr .paginator {
    border-top: 1px dotted #a3a4a7;
}

.paginatorLeft {
    float: left;
    line-height: 35px;
}

.paginatorRight {
    float: right;
    line-height: 35px;
}

#sortBy {
    margin-right: 1em;
}

.paginatorLink {
    padding: 3px 6px;
    background-color: #f3f3f3;
    margin-right: .25em;
}

.paginatorLink.current {
    color: #000;
    cursor: default;
    background-color: transparent;
    font-weight: 700;
}

.paginatorLink:hover {
    background-color: #f7f7f7;
}

.paginatorLink.current:hover {
    background: #fff;
    text-decoration: none;
    cursor: default;
}

#srchRsltsCntr {
    margin: 0 45px;
}

#srchRsltsCntr .paginatorNextButton {
    background: url(/static/images/sprites/shellsprite.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: -211px -7px;
    margin-top: -2px;
}

#srchRsltsCntr .paginatorNextButton:hover {
    background-position: -187px -7px;
}

#srchRsltsCntr .paginatorNextButton.disabled {
    background-position: -262px -7px;
    cursor: default;
}

#srchRsltsCntr .paginatorBackButton {
    background: url(/static/images/sprites/shellsprite.png) no-repeat;
    width: 5px;
    height: 11px;
    background-position: -251px -20px;
    margin-right: 10px;
    margin-top: -3px;
}

#srchRsltsCntr .paginatorBackButton:hover {
    background-position: -257px -20px;
}

#srchRsltsCntr .paginatorFirstButton {
    background: url(/static/images/sprites/shellsprite.png) no-repeat;
    width: 8px;
    height: 11px;
    background-position: -235px -20px;
    margin-right: 10px;
    margin-top: -3px;
}

#srchRsltsCntr .paginatorFirstButton:hover {
    background-position: -243px -20px;
}

.paginatorJump {
    width: 2.5em;
    margin-right: .25em;
    font-size: 1em;
    height: 17px;
    padding: 0;
    margin-top: -2px;
}

.paginator span {
    margin-right: .25em;
}

#displaySettingsContainer,#displaySettingsContainer .menuSelector-header {
    float: left;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
}

#displaySettingsContainer .menuSelector-header {
    padding: 0 6px 0 12px;
    border-color: #fff;
}

#dispSettingsLink span {
    margin: 0;
}

.displaySettingsContent {
    line-height: 1.75em;
    padding: .25em;
    background: #FFF;
    width: 390px;
    padding-left: 1em;
}

.dsContainer .heading {
    font-weight: 700;
}

.dsContainer {
    float: left;
    margin: 1em .5em;
}

.displaySettingsFilters {
    width: 200px;
}

.displaySettingsBestMatch {
    width: 172px;
}

.displaySettingsItems,.bmmTrackLeftText,.bmmTrackRightText {
    float: left;
}

#bmmRankingTrack {
    cursor: pointer;
    width: 77px;
    float: left;
    margin: 0 .5em;
    background: transparent url(/static/images/backgrounds/bestmatch_bg.gif) no-repeat center left;
}

#bmmRankingHandle {
    cursor: pointer;
    width: 4px;
    height: 16px;
    border: 1px solid #a3a4a7;
    background: #FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#queryBuilder {
    width: 206px;
    position: absolute;
    left: 0;
    padding-left: 25px;
    padding-top: 22px;
    background: #f3f3f3;
}

#queryBuilder .container {
    margin-right: 20px;
    margin-bottom: 10px;
}

#queryBuilder .filter:last-child,#queryBuilder .filter-list:last-child,#queryBuilder .container:last-child {
    margin-bottom: 0;
}

#queryBuilder .filter {
    border-bottom: dotted 1px #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#queryBuilder .filterNoBorder {
    border: none;
}

#queryBuilder .sectionHeading {
    font-size: 1.18em;
    margin-bottom: 10px;
}

#queryBuilder .filterHeading {
    font-weight: 700;
    margin-bottom: 5px;
}

#queryBuilder .subFilterHeading {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: .9em;
}

#filesFromSelector .subFilterHeading {
    margin-top: 10px;
}

#queryBuilder .filterList {
    padding-bottom: 5px;
}

#queryBuilder #filetype_list div {
    margin-bottom: 5px;
}

#queryBuilder #filetype_list label > * {
    line-height: 12px;
    vertical-align: middle;
    margin-right: 5px;
}

#filetype_list .icons.photo {
    background-position: -84px -27px;
    height: 10px;
}

#queryBuilder .subFilterList {
    border-bottom: dotted 1px #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#queryBuilder .subFilterListNoBorder {
    padding-bottom: 5px;
}

#queryBuilder .filterDisabled {
    color: #bbb;
}

#queryBuilder .disabled {
    color: gray;
}

#queryBuilder .highlight {
    border: 4px solid #ba6f65;
}

#keyword_filter .filterHeading {
    margin-bottom: 2px;
}

#queryBuilder .filterDisabled {
    color: #bbb;
}

#queryBuilder .disabled {
    color: gray;
}

#queryBuilder .highlight {
    border: 4px solid #ba6f65;
}

#queryBuilder #filetype_list input[type=checkbox] {
    margin: 3px 8px 3px 0;
}

#keyword_filter .filterHeading {
    margin-bottom: 2px;
}

.filterHeading .keyword {
    color: inherit;
    font-size: inherit;
}

#photoIllustration_list,#video_list,#audio_list {
    background-color: #e9e9e9;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    padding: 10px;
}

#copySpace {
    position: relative;
}

#copySpaceSelector p {
    font-size: .8em;
    line-height: 1.3em;
    margin: 0 0 1em 62px;
}

#copySpaceSelector .subFilterHeading {
    margin-bottom: 2px;
}

#copySpaceBg {
    background: url(/static/images/copyspace/copyspace.gif);
    float: left;
    height: 40px;
    width: 40px;
    margin: 2px;
}

#copySpaceGrid {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 42px;
    width: 42px;
}

#copySpaceGrid div.active {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#copySpaceGrid div {
    float: left;
    height: 12px;
    width: 12px;
    margin: 1px;
    cursor: pointer;
}

#copySpaceGrid div.active {
    background-color: #3bd9f1;
}

#colourSelector {
    padding-top: 5px;
}

#colourSelector a {
    font-size: .8em;
}

#colourSelector input {
    width: 10px;
    margin: 0;
    margin-right: 2px;
    height: 15px;
    border-color: #ccc;
    width: 49px;
    font-size: 1em;
}

#colourPickerSample {
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 4px;
}

#colourPickerSample.defaultBg {
    background: url(/static/images/sprites/spritefacet.png) no-repeat -1px -1px;
}

#colourSelector canvas {
    width: 155px;
    height: 13px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

#breadbox {
    height: 25px;
    width: 95%;
    background-color: #fff;
    margin-bottom: 15px;
    border: 3px solid #ccc;
}

#breadbox .facetHeading {
    font-style: italic;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
}

#breadbox .facetTitle {
    color: #666;
    float: left;
    margin-left: 5px;
}

#breadbox .facetRemove {
    padding-right: 5px;
    margin-right: 1px;
    display: inline;
    float: right;
}

#breadbox .facetIcon {
    height: 12px;
    width: 12px;
    margin-right: 4px;
}

#clearAll {
    position: relative;
    left: -13px;
    top: -39px;
    cursor: pointer;
    color: #008595;
    float: right;
}

#clearAll:hover {
    text-decoration: underline;
}

#breadbox .startYourSearch {
    color: #666;
    font-style: italic;
    text-align: center;
    padding-top: 4px;
}

.spelling {
    border-bottom: 1px dotted red;
}

#filterContainer {
}

#keyword_filter {
    padding-top: 5px;
    padding-bottom: 5px;
}

#keyword_filter #keyword_facet_modifier {
    margin-bottom: 5px;
}

#keyword_filter #keyword_input {
    width: 140px;
}

#keyword_input {
    font-size: 1em;
    padding: 6px 5px;
    width: 140px;
    border: 1px solid #e3e3e3;
}

#keyword_filter #keyword_submit {
    margin-right: 0;
}

#shapeSelector input {
    margin: 5px 0 0;
    padding-bottom: 5px;
}

#orientation_list label {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

#largePhoto_list {
    font-size: .9em;
}

#largePhotoSelector {
    font-size: 9pt;
    padding-top: 5px;
}

#orientation_list div,#largePhoto_list div {
    float: left;
    text-align: center;
    width: 55px;
}

#largePhoto_list label {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

#largePhotoSelector input {
    margin: 0;
}

#illustrationsComplexitySelector {
    padding-bottom: 10px;
}

.verticalSelector,.horizontalSelector,.squareSelector {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.verticalSelector {
    background: url(/images/icon_orien_vert_on.gif) no-repeat;
}

.horizontalSelector {
    background: url(/images/icon_orien_horiz_on.gif) no-repeat;
}

.squareSelector {
    background: url(/images/icon_orien_square_on.gif) no-repeat;
}

#video_filter {
}

#videoAspect_list {
    margin-bottom: 10px;
}

#collections_filter {
}

#collections_filter .creditPrice {
    color: #666;
    margin-left: 21px;
    line-height: 6px;
    font-style: italic;
    font-size: .95em;
    margin-bottom: 5px;
}

#audio_filter {
}

#keySelector,#tempoSelector {
    margin-bottom: 10px;
}

#categories_filter {
    border-bottom: none !important;
}

.categoryLink {
    cursor: pointer;
    color: #008595;
    margin-left: 10px;
}

.categoryLink:hover {
    text-decoration: underline;
}

.subCategoryLink:hover {
    text-decoration: underline;
}

.categoryHeader {
    margin-left: 10px;
    font-weight: 700;
}

.subCategoryLink {
    cursor: pointer;
    color: #008595;
    margin-left: 20px;
}

.selectedSubCategory {
    margin-left: 20px;
    font-weight: 700;
}

.subList .subCategoryHeader,.subList .selectedSubcategory {
    margin-left: 10px;
}

.subList .categoryHeader,.subList .categoryLink {
    margin-left: 0;
}

.categoryLess,.categoryMore {
    margin-top: 10px;
}

#searchTitle {
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

#searchTitleCount {
    font-size: .68em;
    color: #666;
}

#searchTitle h2 {
    margin: 0;
}

#lightboxDesc,#contribTools {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    margin-left: 20px;
}

#lightboxTools {
    float: right;
    padding: 5px;
}

#lightboxToolsLabel {
    font-weight: 700;
    margin-right: 10px;
}

#contribTools ul.separatedList {
    margin: 0;
    padding-left: 0;
}

#heatmap_options {
    width: 140px;
}

.infotipContainer.searchTipsInfoTip {
    width: 285px;
}

.infotipContent .editorial {
    float: left;
    margin-right: 6px;
}

.spellingCorrections,.disambiguationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.spellingCorrections li,.disambiguationList li {
    margin: 0;
    padding: 0;
}

.spellingCorrections li:first-letter {
    text-transform: uppercase;
}

.spellingCorrections li:first-child {
    font-weight: 700;
}

.clarifyIcon {
    width: 13px;
    margin-right: .5em;
    text-align: center;
    float: left;
}

.dontShowClarify {
    float: right;
}

.videoStandard,.videoWide,.removeFacet,.searchTip,.editorialTip,.shapeVertical,.shapeHorizontal,.shapeSquare,.infotipClose,.disambiguation,.spellingIcon,.copySpaceIcon {
    background: url(/static/images/sprites/spritefacet.png) no-repeat;
    vertical-align: middle;
    padding-bottom: 2px;
}

.videoStandard {
    width: 17px;
    height: 17px;
    margin-left: 2px;
    margin-right: 9px;
    background-position: -72px -10px;
}

.videoWide {
    width: 22px;
    height: 15px;
    margin-right: 5px;
    background-position: -89px -12px;
}

.removeFacet {
    width: 11px;
    height: 12px;
    background-position: -52px -28px;
}

.removeFacet:hover,.infotipClose:hover {
    width: 11px;
    height: 12px;
    background-position: -63px -28px;
}

.searchTip,.editorialTip {
    width: 14px;
    height: 15px;
    background-position: -111px -12px;
    margin-left: 5px;
    vertical-align: text-bottom;
}

.searchTip:hover,.editorialTip:hover {
    background-position: -125px -12px;
}

#editorialInfoTip {
    width: 250px;
}

.editorialTip {
    margin-left: 0;
    vertical-align: middle;
}

.shapeVertical,.shapeSquare,.shapeHorizontal {
    width: 15px;
    height: 14px;
}

.shapeVertical {
    background-position: -27px -11px;
}

.shapeSquare {
    background-position: -42px -11px;
}

.shapeHorizontal {
    background-position: -57px -11px;
}

.copySpaceIcon {
    height: 13px;
    width: 13px;
    background-position: -39px -27px;
}

.colourIcon {
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: text-bottom;
    border: 1px solid #a3a4a7;
}

.infotipClose {
    height: 11px;
    width: 11px;
    background-position: -74px -29px;
    cursor: pointer;
    padding: 0;
}

.disambiguation {
    height: 9px;
    width: 6px;
    background-position: -98px -31px;
    padding: 0;
    margin: -1px 0 0 1px;
}

.spellingIcon {
    height: 9px;
    width: 13px;
    background-position: -85px -31px;
    padding: 0;
}

.modalDialog {
    position: absolute;
    border: 5px solid #666;
    background: #FFF;
    padding: 1em 1em 1.25em 1.25em;
    -moz-box-shadow: 1px 3px 4px #888;
    -webkit-box-shadow: 1px 3px 4px #888;
    box-shadow: 1px 3px 4px #888;
    z-index: 10001;
    min-width: 250px;
    padding-bottom: 2em;
}

.modalDialog .toggleCreate {
    margin-right: .5em;
}

.modalDialog img.toggleCreate {
    vertical-align: middle;
}

#lbAddSelect {
    width: 350px;
    margin-bottom: 10px;
}

#lbAddFileDialog,#lbMessage,#lbEmailAddress {
    width: 300px;
}

#lbMessage {
    height: 100px;
}

.lbContent input,.lbContent textarea {
    display: block;
    margin-left: 0;
    margin-bottom: .5em;
}

.lbContent .btnCta1,.lbContent .btnCta2 {
    margin-top: .25em;
    margin-left: 0;
}

.lbTitle {
    border: 0;
    border-bottom: 1px dotted #a3a4a7;
    font-size: 1.65em;
    line-height: 1.65em;
    margin-bottom: 6px;
}

.lbTitle span {
    margin-right: 4em;
}

.lbCloseButton {
    float: right;
}

.lbCloseButton img {
    vertical-align: baseline;
}

.imgCenter {
    text-align: center;
}

#priceLevel_list {
    position: relative;
    padding: 9px 0;
    background: transparent url(/static/images/priceLevel/slider.gif) no-repeat 68px 15px;
}

#priceLevelSlices {
    list-style: none;
    margin: 9px 15px;
    padding: 0;
}

#priceLevelSlices li {
    display: block;
    width: 120px;
    height: 26px;
    margin: 0;
    padding: 0;
}

div.priceLevelDotsWrapper {
    width: 32px;
    height: 26px;
    cursor: pointer;
}

#priceLevelSlices li.disabled div.priceLevelDotsWrapper {
    cursor: default;
}

#priceLevelSlices li div.priceLevelDots {
    width: 32px;
    height: 7px;
    overflow: hidden;
    background: transparent url(/static/images/priceLevel/dots.gif) no-repeat;
    position: relative;
    top: 6px;
}

#priceLevelSlices li.price4 div.priceLevelDots {
    background-position: -24px 0;
}

#priceLevelSlices li.price3 div.priceLevelDots {
    background-position: -16px 0;
}

#priceLevelSlices li.price2 div.priceLevelDots {
    background-position: -8px 0;
}

#priceLevelSlices li.price1 div.priceLevelDots {
    background-position: 0 0;
}

#priceLevelSlices li.price4 div.priceLevelDotsWrapper:hover div.priceLevelDots {
    background-position: -24px -7px;
}

#priceLevelSlices li.price3 div.priceLevelDotsWrapper:hover div.priceLevelDots {
    background-position: -16px -7px;
}

#priceLevelSlices li.price2 div.priceLevelDotsWrapper:hover div.priceLevelDots {
    background-position: -8px -7px;
}

#priceLevelSlices li.price1 div.priceLevelDotsWrapper:hover div.priceLevelDots {
    background-position: 0 -7px;
}

#priceLevelSlices li.price4.disabled div.priceLevelDots,#priceLevel_list.disabled li.price4 div.priceLevelDots {
    background-position: -24px -14px !important;
}

#priceLevelSlices li.price3.disabled div.priceLevelDots,#priceLevel_list.disabled li.price3 div.priceLevelDots {
    background-position: -16px -14px !important;
}

#priceLevelSlices li.price2.disabled div.priceLevelDots,#priceLevel_list.disabled li.price2 div.priceLevelDots {
    background-position: -8px -14px !important;
}

#priceLevelSlices li.price1.disabled div.priceLevelDots,#priceLevel_list.disabled li.price1 div.priceLevelDots {
    background-position: 0 -14px !important;
}

div.priceLevelIcon img {
    background-image: url(/static/images/priceLevel/dots.gif);
    background-repeat: no-repeat;
    background-position: -24px 0;
    height: 7px;
}

img.priceLevelIcon0 {
    width: 32px;
}

img.priceLevelIcon1 {
    width: 24px;
}

img.priceLevelIcon2 {
    width: 16px;
}

img.priceLevelIcon3 {
    width: 8px;
}

#priceLevelSlices li span {
    float: right;
}

#priceLevelTrack {
    position: absolute;
    left: 67px;
    height: 115px;
    width: 15px;
    z-index: 2;
    cursor: pointer;
}

#priceLevelTrack.disableSlicer {
    cursor: default;
}

.priceLevelHandle {
    position: absolute;
    top: 0;
    height: 9px;
    width: 16px;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
}

#priceLevelHandle1 {
    background-image: url(/static/images/priceLevel/handleTop.gif);
}

#priceLevelHandle2 {
    background-image: url(/static/images/priceLevel/handleBottom.gif);
}

#priceLevelRangeContainer {
    position: absolute;
    top: 9px;
    left: 72px;
    z-index: 1;
}

#priceLevelRange {
    position: relative;
    background: transparent url(/static/images/priceLevel/sliderBg.gif) repeat-y left top;
    width: 10px;
}

#priceLevel_list.disabled #priceLevelRangeContainer {
    display: none;
}

#Autocomplete_keyword_input {
    margin-left: 0;
}

#color_year li {
    height: 12px;
    width: 28px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 0;
}

